$primary: #6e88f9;
$titleColor: #2f1d5d;
$textColor: #5a5d73;
$bgColor: #f3f5fb;

$titleFontSize: 20px;
$mainFontSize: 16px;
$assistFontSize: 14px;

$transition: all .2s ease;

$border: 1px solid #dddddd;

// 容器
@mixin container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 1500px) {
    max-width: 1200px;
  }
  @media screen and (max-width: 1260px) {
    max-width: 960px;
  }
  @media screen and (max-width: 1000px) {
    max-width: 750px;
  }
}

// 标题
@mixin fontTitle {
  font-size: $titleFontSize;
  font-weight: bold;
  color: $titleColor;
}

// 正文
@mixin fontMain {
  font-size: $mainFontSize;
  color: #86858F;
  font-weight: normal;
}

// 辅助块
@mixin fontAssist {
  font-size: $assistFontSize;
  color: #999999;
  font-weight: normal;
}

// 阴影
@mixin shadow {
  box-shadow: 0 0 8px rgba(143, 134, 193, 0.2)
}

@mixin card {
  border-radius: 4px;
}

@mixin hover {
  transition: all .3s ease;
  &:hover {
    background-color: transparent !important;
    opacity: .6;
  }
}
