/* markdown 自定义样式 */

/deep/ .markdown {
  line-height: 1.6;
  pre {
    margin: 12px auto;
  }
  code {
    padding: 4px 14px 14px;
  }
  .custom {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 2px 2px 14px rgba(0, 0, 0, .42);
    padding-bottom: 10px;
    background: #272822;
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 40px;
      background: url("~@/static/images/mac-navbar.png") no-repeat 14px 14px / 40px;
    }
  }
  img {
    max-width: 100% !important;
    margin-bottom: 16px !important;
  }
}
